* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

p {
    margin: 16px;
    text-align: justify;
    line-height: 1.6;
    font-size: 20px;
}

li {
    line-height: 1.6;
    font-size: 20px;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333333;
    background: linear-gradient(135deg, #ff2288, #387ef0);
    margin: 0;
    padding: 0;
    overflow: auto;
}

#counterDisplay, #cookieCounter {
    color: white;
    font-size: 24px;
}

#cookieCounter {
    position: absolute;
    top: 20px;
    left: 20px;
}

#counterDisplay {
    position: absolute;
    top: 60px;
    left: 20px;
}

#cookieContainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.cookie {
    width: 30px;
    height: 30px;
    background-color: #f4a261;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease;
}

.cookie:active {
    transform: scale(0.9);
}



.container {
    width: 80%;
    margin: 0 auto;
}

.container2 {
    width: 100%;
    margin: 0 auto;
}


header {
    background-color: #1F1F1F;
    color: white;
    text-align: center;
    background: linear-gradient(135deg, rgba(179, 23, 153, 0.8), rgba(5, 66, 179, 0.6));
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

header h1 {
    font-size: 3rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #FFD100;
    animation: typing 2s steps(180) 1s forwards;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

nav {
    background-color: #201e1e;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 15px;
    font-size: 1.1rem;
}

nav a:hover {
    background-color: #FFD100;
}

main {
    padding: 50px 0;
    background-color: #F9F9F9;
}

section {
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("Pictures/VikChill.png") no-repeat center center;
    background-size: cover;
    animation: parallax 10s infinite linear;
}

@keyframes parallax {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 100%;
    }
}


h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.project,
.assignment,
.award,
.certification {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.project h3,
.assignment h3,
.award h3,
.certification h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

a {
    color: #FFD100;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1F1F1F;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

.button-icon {
    display: flex;
    border: 3px #fff solid;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.icon {
    background-color: #fff;
    padding: 10px 10px 5px 10px;
}

.icon svg {
    width: 25px;
    height: 25px;
}

.cube {
    transition: all 0.4s;
    transform-style: preserve-3d;
    width: 200px;
    height: 20px;
}

.button-icon:hover {
    border-color: #FFD100;
}

.button-icon:hover .cube {
    transform: rotateX(90deg);
}

.side {
    position: absolute;
    height: 47px;
    width: 200px;
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.top {
    background: #FFD100;
    color: #fff;
    transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
    background: #222229;
    color: #fff;
    transform: translate3d(0, 0, 1em);
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.image {
    height: 25%;
    width: 25%;
}

.image2 {
    width: 40%;
}

video {
    height: 25%;
    width: 25%;
}

.project:hover,
.assignment:hover,
.award:hover,
.certification:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.button-icon:hover .icon svg {
    animation: bounce 1s ease infinite;
}

.card {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 3px 1px #00000088;
    cursor: pointer;
    padding: 20px;
}

.card .content {
    border-radius: 20px;
    background: #171717;
    width: 500px;
    height: 300px;
    z-index: 1;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content::before {
    opacity: 0;
    transition: opacity 300ms;
    content: " ";
    display: block;
    background: white;
    width: 5px;
    height: 50px;
    position: absolute;
    filter: blur(20px);
    overflow: hidden;
}

.card:hover .content::before {
    opacity: 1;
}

.card::before {
    opacity: 0;
    content: " ";
    position: absolute;
    display: block;
    width: 3000px;
    height: 3000px;
    background: linear-gradient(#ff2288, #387ef0);
    transition: opacity 300ms;
    animation: rotation_9018 8000ms infinite linear;
    animation-play-state: paused;
}

.card:hover::before {
    opacity: 1;
    animation-play-state: running;
}

.card::after {
    position: absolute;
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background: #17171733;
    backdrop-filter: blur(5px);
    z-index: 0;
}

@keyframes rotation_9018 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}